.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin: 60px 40px ;
    color: white;
}
.cart-container{
  background-color: rgb(253, 156, 120);
    margin-top: 100px;
    color: white;
    height: 0px;
    width: 225px;
    position:sticky;
    top:100px
}
.btn-choose{
    margin-top:300px;
     position: absolute;
     top: 0;
     padding: 30px;
     color: aliceblue;
     font-size: 16px;
     border: none;
     border-radius: 9px;
     
    
}
@media  screen and (min-width: 640px){
    .shop-container{
        grid-template-columns:repeat( 1fr) ;
    }
    .cart-container{
        grid-template-columns: 3fr;
    }

    
    }

@media screen and (max-width: 786px) {
    .shop-container{
        grid-template-columns:repeat( 2fr) ;
    }
}
@media screen and (max-width:875px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
       
        
    }
    .products-container{
        display: grid;
        grid-template-columns: 1fr;
    }

} 
