.product{
    width: 300px;
    height: 580px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;

}
.product img{
    height: 286px;
    width: 286px;
    border-radius:8px ;
    margin: 7px ;
}
.product-info{
   padding: 7px;
   font-family: 'Lato'; 
   font-style: normal;
   font-weight: 400;
   font-size: 21px;
   line-height: 25px;
}
.product-name{
   font-family:Arial, Helvetica, sans-serif;
   font-size: 22px;
   font-weight: 400;
   line-height: 25px;
   margin-top: 7px ;
}
.btn-cart{
    
    color: aliceblue;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(85, 85, 245);
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 5px ;
}
.btn-cart:hover{
    background-color: rgb(247, 138, 99);
}
